body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
  background-color: #292929;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-item {
  color: #fff;
  font-weight: 600;
}

.menu__list-link {
  transition: all 0.3s ease;
}

.menu__list-link:hover {
  color: #ff9638;
}

select {
  font-weight: 600;
  outline: none;
}

select option {
  color: #000;
  font-weight: 500;
}

.course {
  padding: 100px 0;
}

.course__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  color: #ff9638;
}

.course__title {
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
}

.course__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.course__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.course__list-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 10px;
}

.course__list-title::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: #ff9638;
  border: 3px solid #292929;
  border-radius: 50%;
  position: absolute;
  left: -23px;
  top: 1px;
}

.course__list-text {
  line-height: 24px;
  text-align: justify;
}

.graduates {
  background-color: #292929;
  padding: 30px 0;
}

.graduates__title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.graduates__subtitle {
  text-transform: uppercase;
  text-align: center;
  color: #3298f2;
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 50px;
}

.graduates__imgbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.graduate-img {
  width: 30%;
  border-radius: 5px;
}

.questions {
  padding: 30px 0;
}

.big-container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.questions__title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 26px;
  color: #3298f2;
  text-align: center;
}

.questions__subtitle {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.questions__contentbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.questions__textbox {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.questions__textbox-item {
  min-height: 145px;
}

.questions__textbox-title {
  color: #ff9638;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 15px;
}

.questions__textbox-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.footer {
  background-color: #ff9638;
  padding: 30px 0;
}

.footer__textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  font-size: 35px;
  max-width: 670px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.footer__right {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (min-width: 1280px) {
  .course__img {
    width: 400px;
  }

  .questions-img {
    width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .questions-img {
    display: none;
  }

  .course {
    padding: 50px 0;
  }

  .course__img {
    width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .questions-img {
    display: none;
  }

  .header {
    padding: 10px 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }

  .course,
  .graduates,
  .questions,
  .footer {
    padding: 20px 0;
  }

  .course__subtitle,
  .graduates__subtitle,
  .questions__title {
    font-size: 16px;
  }

  .course__title,
  .graduates__title,
  .questions__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .course__title,
  .graduates__subtitle,
  .questions__subtitle {
    margin-bottom: 30px;
  }

  .course__list {
    padding-left: 20px;
  }

  .course__img {
    display: none;
  }

  .graduates__imgbox {
    flex-direction: column;
  }

  .graduate-img {
    width: 100%;
  }

  .questions__contentbox {
    flex-direction: column;
  }

  .footer__left {
    font-size: 18px;
  }

  .footer__right {
    display: none;
  }
}
